body {
    background-color: chocolate;
}

input {
    display: block;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
}

button {
    background-color: red;
    color: yellow;
}